[user]
	name = Zihan Chen
	email = zihan.chen@jhu.edu
[core]
	autocrlf = input
	safecrlf = true
	editor = emacs -nw

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	unstage = reset HEAD --
[color]
	ui = true
[merge]
	tool = meld
[diff]
	tool = meld
